<form id="frm_log">
  <label>
    <input type="text" required name="player1"/>
    <div class="label-text">Jugador 1</div>
  </label>
  <div id="other_players"></div>
  <button id="push_player" type="button">Agregar jugador</button> <button id="play">Jugar</button>
</form>
<label id="status"></label>
<script src="/js/login.js"></script>
