<div>
  <label>
    <div class="label-text"><h1>Crear Shorten</h1></div>
  </label>
  <label>
    <div class="label-text">Asegurate de pegar la url completa http://ejemplo.com</div>
  </label>

  <form id="frm_addurl">
    <label>
      <input type="text" name="long_url" required>
      <div class="label-text">pega tu url: </div>
    </label>

    <button type="submit">agregar!</button>

    <label >
      <br>
      <div class="label-text">Status</div>
    </label>
  </form>
</div>
