<br>
<div>
  <label>
    <div class="label-text">Bienvenido a codea</div>
  </label>
  <label>
    <div class="label-text"></div>
    <button id="login">Iniciar secion</button>
  </label>
  <label>
    <div class="label-text"></div>
    <button id="signin">Registrarce</button>
  </label>
  <label>
    <button><a href="urls">ultimos shortens agregados</a></button>
  </label>
</div>
