<%= erb :add_url %>
<label><h1>Ultimos shortens agregados</h1></label>
<br>
<ol id="list_urls">
  <%
  Url.limit(5).reverse_order.each do |url|
    %><%=
    "<label><li><span class='li1ro'> #{url.long_url} <a href= 'http://localhost:9393/#{url.short_url}'  target='_blank'>#{url.short_url}</a></span><span class='li2do'> con <var>#{url.hits}</var> visita#{plural(url.hits)}</span></li></label>"
    %><%
  end
  %>
</ol>
