<form id="frm_log">
  <label>
    <input type="email" required name="mail" />
    <div class="label-text">Correo</div>
  </label>
  <label>
    <input type="password" required name="pwd"/>
    <div class="label-text">Contraseña</div>
  </label>
  <button>Guardar</button>
  <br>
  <label>
    <br>
    <div class="label-text">Status</div>
  </label>
</form>
