@import "compass/layout/stretching";
@import "compass/utilities";
@import "compass/css3";

$gris_fondo: #333333;
$gris_opaco: #4A4A4A;
$gris_brillante: #9B9B9B;
$blanquito: #F0F0F0;
$codea_amarillo: #fbb73b;
$codea_azul: #1f8bd0;

%stretched {
  border: 3px solid $gris_fondo;
  @include border-radius(8px);
  display: block;
  background-color: darken($gris_fondo, 30%);
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em;
}

.sombra{
   @include text-shadow(rgba($blanquito, .5) 1px 1px 20px, rgba($gris_brillante, 0.2) 2px 2px 2px, rgba(blue, 0.2) 3px 3px 2px);
}

body {
  background-color: $gris_fondo;
  font-family: 'Open Sans', Helvetica;
}

form {
  text-align: center;
}


label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;

  .label-text {
    color: $gris_brillante;
    cursor: text;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    @include transform(translateY(-34px));
    transition: all 0.3s;
  }

  input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $gris_opaco;
    color: white;
    font-size: 36px;
    letter-spacing: -1px;
    outline: 0;
    padding: 5px 20px;
    text-align: center;
    width: 200px;
    transition: all 0.3s;

    &:focus {
      width: 400px;

      & + .label-text {
        color: $blanquito;
        font-size: 13px;
        @include transform(translateY(-74px));
      }
    }

    &:valid + .label-text {
      font-size: 13px;
      @include transform(translateY(-74px));
    }
  }
}


button {
  background-color: $gris_fondo;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;

  &:hover, &:focus {
    background-color: white;
    color: $gris_fondo;
    outline: 0;
  }
}

#status {
  opacity: 0;
}

a {
  &:link {
    color: $gris_brillante;
  }
  &:visited {
    color: $gris_opaco;
  }
  &:active {
    color: green;
  }
}

.img404 {
  background-image: url("../img/404.jpg") ;
  @extend %stretched;
   @include stretch;
}

.hide {
  display: none;
  opacity: 0;
}
//codea general
figure {margin:0}
ul {list-style: none}

.name {
  display: inline-block;
  @extend .sombra;
  &:first-letter {
    font-size: 120%;
    text-transform: capitalize;
    color: $blanquito;
    letter-spacing: 2px;
  }
}

.brackets {
  color: $codea_azul;
  &:before {color: $codea_amarillo; content:" { "}
  &:after {color: $codea_amarillo; content:" } "}

  span {
      color:$blanquito;
  };
  var {
    &:before {content:" "}
    &:after {content:" "}
    font-size: 120%;
    color: $codea_amarillo
  }
}
var {@extend .sombra;}


.container {
  margin: 0 auto;
  width: 768px;
  padding: 0px 20px 20px 20px;
}

header {
  background-color: $gris_opaco;
  margin-bottom: 25px;
}

#logo {
  display: block;
  margin: 0 auto;
}

#main-title {
  text-align: center;
}
ul {
  color: $gris_brillante;
}

//
.table td {
  height: 20px;
  width: 3px;
}

.table td.player {
  max-width: 150px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
  padding: 0px 5px 10px 5px;
  color: $blanquito;
  @extend .sombra;
}
.table td:nth-child(1){
  padding-top: 10px;
}

.table td.active {
  background-color: $codea_amarillo;
  @extend .sombra;
}
.table td.goal {
  background-color: $codea_azul;
  @extend .sombra;
}

#winner{
  text-align: center;
  font-size: 400%;
  color: $codea_azul;
   @extend .sombra;
}
