<br>
<div>
  <label>
    <div class="label-text">Panel de Usuario</div>
  </label>
  <label>
    <div class="label-text"></div>
    <button>
      <%= User.find(@usr_id).name %>
    </button>
  </label>
  <br>
  <label>
    <p class="label-text">As iniciado seciòn y durara <var></var> segundos</p>
  </label>
</div>
