<br>
<h2>Crear Shorten</h2>
<p>Asegurate de pegar la url completa http://ejemplo.com</p>

<form id="frm_url">
  Crea tu propio shorten qui:
  <br>
  <br>
  <label>pega tu url: </label>
  <input type="text" name="long_url" placeholder="http://ejemplo.com">
  <input type="submit" value="agregar!">
</form>

<p id="status">asdf</p>
