.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

#status {
  opacity: 0;
}

#list_urls span {
  display:inline-block;
}

.li1ro {
  width: 40%;
}

.li2do {
  color: green;
}
