<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css remueve las diferenecia que hay entre browsers segun los defaults de css predeterminados que utilizan.
    Revisa: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
    application.css este es el archivo donde van tus estilos, tu css
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
    <%= yield %>
  <script src="/css/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>
</html>
