<header>
  <img id="logo" src="codea-logo.png">
</header>

<h1>Slot Machine</h1>

<div id="slot-machine">
  <form method="post" action="/rolls">
    <input id="submit" type="submit" value="SPIN">
  </form>
  <div id="die">
    <img src="/1.png" title="no veo" alt="the roll" id="image-1">
    <img src="/2.png" title="no oigo" alt="the roll" id="image-2">
    <img src="/3.png" title="no hablo" alt="the roll" id="image-3">
  </div>
</div>
<h1 id="msg"></h1>
