  <h1>Abuelita Sordita</h1>
  <% p "views index" %>

  <p id="answer_line">Tu Abuelita dice: "<span id="grandma_says"></span>"</p>


  <form id="frm">
    Dile algo a tu abuelita:
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Dilo!">
  </form>
