/* line 12, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.img404 {
  border: 3px solid #333333;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: block;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em;
}

/* line 23, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
body {
  background-color: #333333;
  font-family: 'Open Sans', Helvetica;
}

/* line 28, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
form {
  text-align: center;
}

/* line 33, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
label {
  display: block;
  letter-spacing: 4px;
  padding-top: 30px;
  text-align: center;
}

/* line 39, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
label .label-text {
  color: #9B9B9B;
  cursor: text;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  -webkit-transform: translateY(-34px);
  -moz-transform: translateY(-34px);
  -ms-transform: translateY(-34px);
  -o-transform: translateY(-34px);
  transform: translateY(-34px);
  transition: all 0.3s;
}

/* line 49, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: white;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  width: 200px;
  transition: all 0.3s;
}

/* line 62, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
label input:focus {
  width: 400px;
}

/* line 65, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
label input:focus + .label-text {
  color: #F0F0F0;
  font-size: 13px;
  -webkit-transform: translateY(-74px);
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -o-transform: translateY(-74px);
  transform: translateY(-74px);
}

/* line 72, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
label input:valid + .label-text {
  font-size: 13px;
  -webkit-transform: translateY(-74px);
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -o-transform: translateY(-74px);
  transform: translateY(-74px);
}

/* line 80, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
button {
  background-color: #333333;
  border: 2px solid white;
  border-radius: 27px;
  color: white;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  padding: 15px 30px;
  text-transform: uppercase;
  transition: all 200ms;
}

/* line 92, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
button:hover, button:focus {
  background-color: white;
  color: #333333;
  outline: 0;
}

/* line 99, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
#status {
  opacity: 0;
}

/* line 104, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
a:link {
  color: #9B9B9B;
}

/* line 107, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
a:visited {
  color: #4A4A4A;
}

/* line 110, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
a:active {
  color: green;
}

/* line 115, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.img404 {
  background-image: url("../img/404.jpg");
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 121, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.hide {
  display: none;
}

/* line 125, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
figure {
  margin: 0;
}

/* line 126, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
ul {
  list-style: none;
}

/* line 127, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.name {
  display: inline-block;
}

/* line 129, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.name:first-letter {
  font-size: 120%;
  text-transform: capitalize;
  color: #F0F0F0;
}

/* line 132, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.brackets {
  color: #1f8bd0;
}

/* line 134, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.brackets:before {
  color: #fbb73b;
  content: " { ";
}

/* line 135, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.brackets:after {
  color: #fbb73b;
  content: " } ";
}

/* line 137, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.brackets span {
  color: #F0F0F0;
}

/* line 140, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.brackets var {
  font-size: 120%;
  color: #fbb73b;
}

/* line 141, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.brackets var:before {
  content: " ";
}

/* line 142, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.brackets var:after {
  content: " ";
}

/* line 149, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.container {
  margin: 0 auto;
  width: 768px;
  padding: 0px 20px 20px 20px;
}

/* line 155, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
header {
  background-color: #4A4A4A;
  margin-bottom: 25px;
}

/* line 160, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
#logo {
  display: block;
  margin: 0 auto;
}

/* line 165, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
#main-title {
  text-align: center;
}

/* line 168, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
ul {
  color: #9B9B9B;
}

/* line 173, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.table td {
  height: 20px;
  width: 3px;
}

/* line 177, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.table td.player {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px 5px 10px 5px;
  color: #F0F0F0;
}

/* line 185, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.table td:nth-child(1) {
  padding-top: 10px;
}

/* line 188, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.table td.active {
  background-color: #fbb73b;
}

/* line 191, /Users/panic/CodeaCampRuby/sem7/dia2/Rayuela Web (Javascript)/rayuela/app/views/sass/sass.scss */
.table td.goal {
  background-color: #1f8bd0;
}

/*# sourceMappingURL=../../../public/css/sass.map */