.container {
  margin: 0 auto;
  width: 750px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}

.left {
  width: 46%;
  float: left;
  padding: 2%;
}
.right {
  float: right;
  width: 46%;
  padding: 2%;
}
.clear{
  clear: both;
}
